/* CSS reset  */

*{
    margin: 0;
    padding: 0;
}
/* CSS VARIABLES */
:root{
    --navbar-height:59px;
}
/* Navigation bar */
#navbar{
    display: flex;
    /* this helps to get the items in line with the pic,;ine means-row */
    
    align-items: center;
    /* justify-content: center; */
    
    

}
#navbar::before{
    content: "";
    /* always needed this to work  */
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* joh content color ka neeche chala gaya tha voh upar aa jayega , just like stacking 
     */
    opacity: .4;
}
/* Navigation bar :Logo and image */
#logo{

    margin: 15px 34px;

}#logo img{
    height: 56px;
    margin: 34px 45px;

}
/* Navigation bar :list style */
#navbar{
    position: relative;
    /* just to set the background color we did this  */

}
#navbar ul{
    display: flex;
    /* items seedha ho jayenga  */
    font-family: 'Playball', cursive;

}#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}#navbar ul li a{
    display: block;
    /* because hame yaha padding lagani thi, toh remeber that  */
    padding: 3px 22px;
    border-radius: 20px ;
    text-decoration: none;
    color: white;
    
}#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home section  */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px ;
    justify-content: center;
    align-items: center;
    height: 450px;
    
    /* position: relative; */
}#home::before{
    content: "";
    /* always needed this to work  */
    background:url('bg1.jpg')  no-repeat center center/cover;
    /* this no repeat center and center  cover tells the browser that image should not be repeated , image should be centralized and it should cover the screen */
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* joh content color ka neeche chala gaya tha voh upar aa jayega , just like stacking 
     */
    opacity: .89;

}#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

/* Services section */
#services{
    display: flex;
    margin: 120px;
    
}#services .box{
    border: 2px solid red;
    padding:34px;
    margin: 3px 6px;
    border-radius:28px ;
    background-color: rgb(196, 187, 177);

}#services .box img{
    height: 150px;
    margin: auto;
    display: block;
    /* margin auto hamesha display bloxk ka saath hi chalega   */
}


/* Utility class */

/* throughout chalegi voh  */
.primary{
    font-size: 3.8rem;
    padding: 12px;

}.btn{
    padding:6px 20px;
    border: 2px solid white;
    background-color:brown ;
    color: white;
    margin: 17px ;
    font-size: 1.5rem;
    border-radius: 10px;
    
}.btn:hover{
    cursor: pointer;
}.center{
    text-align: center;
}.secondary{
    font-size: 2.8rem;
    padding:12px;
}

